<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Visual Analytics</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/fonts.css">
<link rel="stylesheet" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/project.css">
<script src="./static/js/d3.v5.min.js" charset="utf-8"></script>
<script src="./static/js/d3-scale-chromatic.v1.min.js"></script>
<script src="./static/js/d3.tip.v0.6.3.js"></script>
<script src="./static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="./static/css/main.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>


<div class="overlay" style="background-image: url('./static/image/back.jpg');">
      <div class="overlay-desc">
          <p style="font-size: 58px;font-weight: bold;">CSE 564 - Visualization</p>
          <p style="font-size: 35px;">Topic : Avocado Prices in US Markets</p>
          <button id='overlay-dismiss' type="button" class="btn btn-primary" style="margin-top: 9%;width: 14em;height: 5em;font-size: 20px;">Start Visualization</button>
          <p align="right" style="margin-top:15%; font-size: 22px;">Name: Vibhor Shukla</p>
          <p align="right" style="font-size: 20px;">ID: 112671826</p>
      </div>
</div>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}


<script src="./static/js/index.js"></script>

</body></html>