<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Visual Analytics</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/fonts.css">
<link rel="stylesheet" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/w3.css">
<link rel="stylesheet" href="./static/css/project.css">
<script src="./static/js/d3.v5.min.js" charset="utf-8"></script>
<script src="./static/js/d3-scale-chromatic.v1.min.js"></script>
<script src="./static/js/d3.tip.v0.6.3.js"></script>
<script src="./static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="./static/css/main.css">

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
 <!--  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button> -->
  <span class="w3-bar-item w3-left">CSE564 -  Visualization</span>
  <span class="w3-bar-item w3-right">Analyzing Avocado Dataset Visually</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="./static/image/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar">
    <br>
      <span>Vibhor Shukla</span><br>
      <span>ID: 112671826</span>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="dashboard" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>&nbsp; Visual Analytics</a>
    <a href="view_dataset" class="w3-bar-item w3-button w3-padding "><i class="fa fa-database fa-fw"></i>&nbsp; Avocado Dataset</a>
    <a href="asgmt2" class="w3-bar-item w3-button w3-padding "><i class="fa fa-database fa-fw"></i>&nbsp; Assignment 2</a>
    <button id="close-vis" onclick='window.location.replace("./templates/close.html");' >EXIT</button>
    <br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-dark-grey" style="margin-left:300px;margin-top:43px;height: 52em;">

  <!-- Header -->
  <header class="w3-container">
    <h5 id='vibrating-title' style="cursor:pointer;display: inline;" align="left"><b><i class="fa fa-filter"></i> Choose a Feature</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom" id="feature_menu">
    
    <div class="w3-quarter feature" style="cursor: pointer;width: 16%">
      <div class="w3-container w3-red w3-padding-4" value="type" onclick="display(this)">
        <div class="w3-left"><h4>Type</h4></div>
        <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">CATEGORICAL</b></p>
        </div>
        <div class="w3-clear"></div>
        
      </div>
    </div>



    <div class="w3-quarter feature" style="cursor: pointer;width: 17%">
      <div class="w3-container w3-red w3-padding-4" value="year" onclick="display(this)">
        <div class="w3-left"><h4>Sales</h4></div>
         <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">CATEGORICAL</b></p>
        </div>
        <div class="w3-clear"></div>
      </div>
    </div>

    <div class="w3-quarter feature" style="cursor: pointer;width: 16%">
      <div class="w3-container w3-red w3-padding-4" value="city" onclick="display(this)">
        <div class="w3-left"><h4>City</h4></div>
         <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">CATEGORICAL</b></p>
        </div>
        <div class="w3-clear"></div>
        
      </div>
    </div>

    <div class="w3-quarter feature" style="cursor: pointer;width: 16%">
      <div class="w3-container w3-orange w3-text-white w3-padding-4" value="AveragePrice" onclick="display(this)">
        <div class="w3-left"><h4>Price</h4></div>
         <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">NUMERICAL</b></p>
        </div>
        <div class="w3-clear"></div>
        
      </div>
    </div>
  
    <div class="w3-quarter feature" style="cursor: pointer;width: 18%">
      <div class="w3-container w3-orange w3-text-white w3-padding-4" value="Total Volume" onclick="display(this)">
        <div class="w3-left"><h4>Volume</h4></div>
       <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">NUMERICAL</b></p>
        </div>
        <div class="w3-clear"></div>
        
      </div>
    </div>
 
  <div class="w3-quarter feature" style="cursor: pointer;width: 17%">
      <div class="w3-container w3-orange w3-text-white w3-padding-4" value="Total Bags" onclick="display(this)">
        <div class="w3-left"><h4>Bags</h4></div>
       <div class="w3-right">
          <p><b style="font-size: 9px;vertical-align: -webkit-baseline-middle;">NUMERICAL</b></p>
        </div>
        <div class="w3-clear"></div>
        
      </div>
    </div>

  </div>
  <div style="height: 39em;" class="w3-container">
    <div id="graph_area" class="w3-row">
    
    </div>
    <p id="home_text">Select a feature from above to analyze</p>
  </div>






 <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <input type="range" min="1" max="20" value="11" id="theSlider" style="visibility:hidden; margin-left: 11%; width: 79%" oninput="sliderListener(this)">
      
    </div>
  </div>
  
  <!-- Footer -->
  

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>


<script src="./static/js/visual.js"></script>
<script src="./static/js/init.js"></script>

</body></html>